.clear {
    background-image: url(images/closeup-photo-of-sunflowers-1234064.jpg);
}
.clouds{
    background-image: url(images/grey-white-clouds-158163.jpg);

}
.rain{
    background-image: url(images/white-and-black-3d-wallpaper-850488.jpg);
}

.snow{
    background-image: url(images/white-snowy-environment-with-pine-trees-773953.jpg);
}
.solar {
    background-image: url(images/astronomy-circle-dark-eclipse-580679.jpg);
}
.dust {
    background-image: ;
}

body{
 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: #ffff;
   text-shadow: 1px 1px 1px rgba( 0,0,0,0.5);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
       background-position: center;
       background-size : cover;
   
}

h1{
    font-size: 3em;
    opacity: 1;
}
i.wi{
    font-size: 5em;
    line-height: 3em;
}
h2{
    font-size: 2em;
    position: relative;
}
.tooltip{
    opacity: 0;
    position: absolute;
    top : 0px;
    left : 10px;
    color : #ffff;
    background-color : rgb(126, 125, 125);
    border-radius : 5px;
    padding : 10px;
    font-size : 12px;
    transition : opacity .3s, top .5s;

}
h1:hover .tooltip {
    top:-30px;
    opacity: 2;
}
